SECRET_KEY= # generate: python -c "import secrets; print(secrets.token_hex(32))"
DEBUG=true

DATABASE_URL=postgresql://postgres:root@localhost:5432/fitbyte
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=fitbyte

JWT_SECRET= # generate: python -c "import secrets; print(secrets.token_hex(32))"
JWT_ISS=fitbyte-auth
JWT_AUD=fitbyte-api
JWT_EXPIRES_SECONDS=3600