# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtualenv
.env/
venv/
ENV/

# Environment files
.env
.env.*

# VSCode
.vscode/

# Test cache / coverage
.pytest_cache/
.coverage
htmlcov/

# Docker logs & local data folders
*.log
docker-data/
pgdata/
minio-data/
docker-compose.override.yml


# Local infra & helper scripts
docker-compose.yml
Dockerfile
app.db
generate_token.py
